.card-secondary {
  margin-top: 1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  @extend .bg-secondary;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-vertical {
    flex-direction: column;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-tab {
  color: black;

  .tab-link {
    border: none;
    background: none;
    padding: 0.5rem 2rem;
    border-bottom: 3px solid $muted;
  }

  .active {
    color: $yellow !important;
    border-bottom: 3px solid $yellow !important;
  }
}

th {
  background-color: $background !important;
  color: black !important;
  font-weight: 400;
}
