.custom-tab {
  // border-bottom: 2px solid rgb(241, 241, 241);
  color: black;

  .tab-link {
    border: none;
    background: none;
    padding: 0.5rem 2rem;
    border-bottom: 3px solid $muted;
  }

  .active {
    color: $yellow !important;
    border-bottom: 3px solid $yellow !important;
  }
}

th {
  background-color: $background !important;
  width: 20%;
  font-weight: 400;
}
