.hover {
    transition: all 0.3s ease;
    &_darker {
        &:hover {
            filter: brightness(0.9);
        }
    }
}

.table tbody tr {
    cursor: pointer;
    border-left: 4px solid transparent;

    &:hover {
        border-left: 4px solid $info;
    }
}