.sidenav {
    transition: all 0.3s ease;

    ul {
        list-style-type: none;
        padding: 0;
    }

    &-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 400;
        text-wrap: nowrap;
        font-size: 14px;
        position: relative;

        &:hover {
            color: $yellow !important;
        }
    }

    &-tooltip {
        padding: 0.3rem .5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: .8rem;
        left: 30px;
        background-color: $yellow;
        color: black;
        display: none;
    }

   
}

.top-bar {
    .hamburger {
        border: none;
        background-color: transparent;
    }
}