.sidenav {
    transition: all 0.3s ease;

    ul {
        list-style-type: none;
        padding: 0;
    }

    &-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 400;
        text-wrap: nowrap;

        &:hover {
            color: $yellow !important;
        }
    }
}

.top-bar {
    .hamburger {
        border: none;
        background-color: transparent;
    }
}